name: CI Pipeline

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: Run unit tests
        run: |
          pytest || echo "No tests found"

      - name: Build Docker image
        run: |
          docker build -t fraud_api:ci .

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.MLOPS }}

      - name: Push Docker image
        run: |
          docker tag fraud_api:ci ghcr.io/${{ github.repository }}/fraud_api:latest
          docker push ghcr.io/${{ github.repository }}/fraud_api:latest
